{% extends '@GOCaisse/comptebanque/main_layout.html.twig' %}

{% block content_body %}
    <h1>Comptebanque</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteBanque.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ compteBanque.libelle }}</td>
            </tr>
            <tr>
                <th>Numcompte</th>
                <td>{{ compteBanque.numCompte }}</td>
            </tr>
            <tr>
                <th>Banque</th>
                <td>{{ compteBanque.banque }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ compteBanque.solde }}</td>
            </tr>
            <tr>
                <th>Lastop</th>
                <td>{% if compteBanque.lastOp %}{{ compteBanque.lastOp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compte_banque_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('compte_banque_edit', { 'id': compteBanque.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
