{# empty Twig template #}
{% extends "@GOClient/client/_main_layout.html.twig"%}

{% block content_body %}
    <a href='{{path('client_new')}}'>Ajouter nouveau un client </a>
   {% if clients is defined %}
       <table class='table table-bordered'>
           <thead>
               <tr>
                   <th>Prénom</th>
                   <th>Nom</th>
                   <th>Téléphone</th>
                   <th>Email</th>
                   <th>Adresse</th>
                   <th>Sexe</th>
                   <th>Catégorie</th>
                   <th>Action</th>
               </tr>
           </thead>
           <tbody>
      {% for client in clients %}
          <tr>
                   <td>{{client.firstName}}</td>
                   <td>{{client.lastName}}</td>
                   <td>{{client.tel}}</td>
                   <td>{{client.email}}</td>
                   <td>{{client.adresse}}</td>
                   <td>{{client.sexe}}</td>
                   <td>{{client.categorie}}</td>
                   <td>
                       <a href='#'>Supprimer</a>
                       <a href='{{path("client_edit",{"id":client.id})}}'>Modifier</a>
                   </td>
                  
               </tr>
          {%endfor%}
           </tbody>
       </table>
       {%endif%}
    {%endblock %}
