{% extends '@GOClient/client/_main_layout.html.twig' %}

{% block content_body %}
    
    <div class="row">
        <div class="col-lg-6">
    <h1>Création d'un nouveau Client</h1>
    {{ form_start(form) }}
  
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Enregistrer" />
    {{ form_end(form) }}

    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset("js/symfony_form_handler.js")}}"></script>

    {%endblock%}
{% block javascript_code %}
    <script type="text/javascript">
        $(document).ready(function(){
           //var form_data = JSON.stringify( $('form[name="go_clientbundle_client"]').serializeArray() ); 
            $('form[name="go_clientbundle_client"]').on('submit',function(e)
            {
                e.preventDefault();
                clearAllFormErrorMessages($(this));
           var form_data =  $('form[name="go_clientbundle_client"]').serialize(); 
            console.log(form_data);
           // console.log($('form[name="go_clientbundle_client"]').serializeArray());
            $.ajax({
                url:"http://localhost/GO_SYS_V2_SYNCH/web/customer/test/form_handler_response",
                headers: {          
                            //"Accept": "application/json",         
                            //"Content-Type": "application/json"   
                          },
                dataType: 'text',
                method: "POST",
                data:form_data,
                success:function(data){alert("succcess");},
                error:function(error, textStatus)
                {
                     try
                    {
                        const data=JSON.parse(error.responseText);
                        var form_name="go_clientbundle_client";
                        var form_id="go_clientbundle_clienttype";
                        if(isFosRestValideData(data))
                        {
                            if(hasValidationErros(data))
                            {
                                mappFormErrorsToFields(form_id,form_name,data);
                            }
                        }else
                        {
                            alert("Le formulaire contient des erreurs! Mais elles ne peuvent pas s'afficher. Format de données  retournées par le serveur est invalide");
                        }
                    }catch(e)
                    {
                        alert("Une erreur s'est produite. Le format de donnée retourné n'est pas valide "+e);
                    }
                         
                }
        });
          } );
        });
        
        </script>
    {%endblock%}
