{% if form is defined %}
<form id="{{form.vars.name}}"action="{{path('update_vente',{"id":vente.id})}}" class="form-horizontal col-lg-6 col-md-6 col-xs-12" method="post" {{ form_enctype(form) }}>
<div>
    {{ form_errors(form.produit,{"attr":{"class":"alert-danger"}})}}
    </div>
    
    
    <div>
    {{ form_label(form.produit, "Produit à vendre")}}
    {{ form_widget(form.produit,{"attr":{"class":"form-control"}} )}}
    </div>
    <div>
    {{ form_label(form.quantite, "Quantité Vendue")}}
    {{ form_widget(form.quantite,{"attr":{"class":"form-control"}} )}}
    </div>
    <div>
    {{ form_label(form.prixUnit, "Prix Unitaire")}}
    {{ form_widget(form.prixUnit,{"attr":{"class":"form-control"}} )}}
    </div>
   {{ form_row(form._token) }}
     {# {{ form_widget(form)}}#}
<input type="submit" class="btn btn-primary" />
</form>


    {% endif %}

  