        {% if ventes is defined %}
            <table class="table table-bordered table-striped">
                <tr >
                        
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Prix Total</th>
                    <th>Date</th>
                    <th>Bénéfice</th>
                    <th>Opérations</th>
                </tr>
                {% for vente in ventes %}
                    
                       {% if vente.inspect()==constant('SUSPECTED',vente)%}
                        <tr id="row-{{ vente.id }}" class="bg-red">
                          <td><i class='fa fa-flag bg-red'></i>
                             {{vente.produit.nom}}</td>
                            {%else %}
                              <tr id="row-{{ vente.id }}"> 
                                  <td> {{vente.produit.nom}}</td> 
                            {% endif%}
                            
                            
                        <td>{{ vente.quantite}}</td>
                        <td>{{ vente.prixUnit|nombre()  }}</td>
                        <td>{{ vente.prixTotal|nombre()  }}</td>
                        <td>{{ vente.date.format('d-m-Y H:i')}}</td>
                        <td>{{ vente.benefice|nombre()  }}</td>
                         <td>
                            <a class="update_action" id="{{ vente.id }}" href='{{path("update_vente",{"id": vente.id })}}'>Modifier</a>
                            <a class="annuler_action" id="{{ vente.id }}" href="{{ path('go_shop_vente_annuler', {'id': vente.id}) }}">Annuler</a>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
            {% else %}
                
    {% endif %}
 