{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creancier list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Sexe</th>
                <th>Id</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('shop_show', { 'id': entity.id }) }}">{{ entity.prenom }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.sexe }}</td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.ville }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('shop_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('shop_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('shop_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
