{% extends '@GOCaisse/layout.html.twig' %}

{% block content_body %}
    <h1>Typesorties list</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Charge</th>
                <th>Id</th>
                <th>Libelle</th>
                <th>Commentaire</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeSortie in typeSorties %}
            <tr>
                <td><a href="{{ path('type_sortie_show', { 'id': typeSortie.id }) }}">{{ typeSortie.charge }}</a></td>
                <td>{{ typeSortie.id }}</td>
                <td>{{ typeSortie.libelle }}</td>
                <td>{{ typeSortie.commentaire }}</td>
                <td>{{ typeSortie.categorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('type_sortie_show', { 'id': typeSortie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('type_sortie_edit', { 'id': typeSortie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('type_sortie_new') }}">Create a new typeSortie</a>
        </li>
    </ul>
{% endblock %}
