   {% if form is defined %}
<form id="{{form.vars.name}}"action="{{path('facture_achat_update', {"id":form.vars.data.id})}}" class="form-inline col-lg-12 col-md-12 col-xs-12" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered" >
    {{ form_errors(form)}}
     <div>
         <tr>
             <th colspan="5" class="text-center bg-blue">Informations de la facture</th>
         </tr>
             <tr class="bg-info">
                
                 <td>{{ form_label(form.fournisseur, "Fournisseur")}}</td>
                 <td>{{ form_label(form.dateFacture, "Date Délivrance")}}
                 <td>{{ form_label(form.avance, "Avance")}}</td>
                 <td>{{ form_label(form.livre, "Marchandises reçues?")}}</td>
                <td>{{ form_label(form.paye, "Facture Payée")}}</td>
             </tr>
             <tr>
                <td>{{ form_widget(form.fournisseur, {"attr":{"class":"form-control"}})}}</td>
               <td>{{ form_widget(form.dateFacture, {"attr":{"class":"form-control"}})}}</td>
               <td>{{ form_widget(form.avance, {"attr":{"class":"form-control"}})}}</td>
               <td>{{ form_widget(form.livre, {"attr":{"class":"form-control"}})}}</td>
               <td>{{ form_widget(form.paye, {"attr":{"class":"form-control"}})}}</td>
               </tr>
         </table>
    </div>
    
    {{ form_row(form._token) }}
     {# {{ form_widget(form)}}#}
<input type="submit" class="btn btn-primary" value="Enregistrer la facture" />
</form>
</div>
    {% endif %}
