{# empty Twig template #}
{% if events is defined and events is not null %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Nombre inscrit</th>
                <th>Export données</th>
                <th>Opérations</th>
            </tr>
            </thead><tbody>
    {% for event in events %}
        
            <tr>
            <td>{{event.id }}</td>
            <td>{{event.libelle }}</td>
            <td>{{event.dateStart.format('d/m/Y')}}</td>
            <td>{{event.dateEnd.format('d/m/Y')}}</td>
            <td><a href="{{path("event_update",{"id":event.id})}}">Modifier</a></td>
            <td><a href="historique_reservations_event-{{event.id}}.golob">Exporter</a></td>
            <td><a href="{{path("all_departs_event",{"id":event.id})}}">Afficher les départs</td>
        </tr>
        {%endfor %}
        
        </tbody>
        {% else %}
            <h2>aucun évènement trouvé</h2>
            {% endif %}
