{% extends '@GOCaisse/entree/main_layout.html.twig' %}

{% block content_body %}
    <div class="col-lg-4 col-md-6 col-xs-12">
    <h1>Nouvelle Entrée</h1>
<form action="{{path("entree_new")}}" method="post">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}
</form>
    <ul>
        <li>
            <a href="{{ path('entree_index') }}">Retour à la liste</a>
        </li>
    </ul>
    </div>
{% endblock %}
