{% extends '@GOClient/compte_client/_main_layout.html.twig' %}
{% block content_body %}
    <h1>Modifier Compte Client</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('compte_client_index') }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
