{% extends '@GOCaisse/shop/main_layout.html.twig' %}

{% block content_body %}
    <h1>Créer Une Nouvelle Boutique</h1>
<form action="{{path("boutique_new")}}" method="post">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
</form>
    <ul>
        <li>
            <a href="{{ path('boutique_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
